config/local.php
config/di/local.services.yml
config/di/local.parameters.yml
config/di/dev.services.yml
config/di/dev.parameters.yml
config/di/local.admin.services.yml
config/di/local.admin.parameters.yml
.idea
mysql-connector-java-5.1.26-bin.jar
mysql-connector-java-5.1.31-bin.jar
mysql-connector-license.txt
var/
vendor
composer.phar
tests/site
public/cov
