<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Installer Test Suite">
            <directory>../lib/Maketok/Ddl/Test/</directory>
        </testsuite>
        <testsuite name="Util Test Suite">
            <directory>../lib/Maketok/Util/Test/</directory>
        </testsuite>
    </testsuites>
</phpunit>
