<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a part of Maketok site package. -->
<!-- @author Oleg Kulik <slayer.birden@gmail.com> -->
<!-- For the full copyright and license information, please view the LICENSE -->
<!-- file that was distributed with this source code. -->
<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="installer">
            <directory>../lib/Maketok/Installer/Ddl/Test/</directory>
        </testsuite>
        <testsuite name="util">
            <directory>../lib/Maketok/Util/Test/</directory>
        </testsuite>
        <testsuite name="app">
            <directory>../lib/Maketok/App/Test/</directory>
        </testsuite>
        <testsuite name="nav">
            <directory>../lib/Maketok/Template/Navigation/Test</directory>
        </testsuite>
        <testsuite name="observer">
            <directory>../lib/Maketok/Observer/Test</directory>
        </testsuite>
        <testsuite name="maketok">
            <directory>../lib/Maketok/</directory>
        </testsuite>
    </testsuites>
</phpunit>
