*, html {
    padding: 0;
    margin: 0;
}

body {
    font-family: "open sans", helvetica, arial, sans-serif;
    font-weight: 300;
    font-size: 62, 5%;
    color: #3a3a3a;
}

a {
    color: #7690AB;
}

a:hover {
    color: #264666;
}

a.general-link {
    text-decoration: none;
    background: #7690AB;
    color: #fff;
}

a:hover.general-link {
    text-decoration: none;
    background: #264666;
    color: #fff;
}

#wrapper {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

#content {
    text-align: left;
    font-size: 1.4em;
}

#disqus_thread{
    padding-top: 30px;
}

.info {
    font-size: 2em;
    margin: 10px 0 30px 0;
    background: #7690AB;
    color: #fff;
}

.article {
    padding: 5px 0 15px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #7690AB;
}

a.article-title, .article-title {
    font-size: 1.6em;
    font-weight: 400;
    display: block;
    text-decoration: none;
    color: #3a3a3a;
}

.article-title.opened-article{
    padding-bottom: 20px;
}

a:hover.article-title{
    text-decoration: underline;
    color: #264666;
}

.article-author {
    font-size: 0.7em;
    font-weight: 600;
    padding-top: 15px;
}

.article-date {
    font-size: 0.7em;
    font-style: italic;
}

.article-link {
    font-size: .8em;
}

.article-by{
    font-size: .6em;
}

.article-info{
    padding-bottom: 20px;
    line-height: .8em;
}

.article-comments-link{
    font-size: .8em;
    line-height: 2em;
    padding-top: 15px;
    display: block;
}

.article-content{
    display: inline;
}

.article-meta{
    padding-top: 15px;
}

.hide {
    display: none;
}
