<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% trans %}%title%{% endtrans %}</title>
</head>
<body>
    <div id="wrapper">
        HAHAHAH!
     </div>
</body>
</html>
