{# This is a part of Maketok site package. #}
{# @author Oleg Kulik <slayer.birden@gmail.com> #}
{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}
{% for link in links %}
    <li>
        {% if link.href %}
            <a href="{{ link.href }}" title="">{{ link.title }}</a>
        {% else %}
            <span>{{ link.title }}</span>
        {% endif %}
        {% if link.children %}
            <ul>
                {% include "navigation.html.twig" with {'links': link.children} %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
