# This is a part of Maketok Site. Licensed under GPL 3.0
# @project site #}
# @developer Oleg Kulik slayer.birden@gmail.com maketok.com
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    RewriteRule .* index.php [L]
</IfModule>
