# This is a part of Maketok Site. Licensed under GPL 3.0
# @project site
# @developer Slayer slayer.birden@gmail.com maketok.com

services:
  logger_handler:
      class: Monolog\Handler\ChromePHPHandler
