{# This is a part of Maketok site package. #}
{# @author Oleg Kulik <slayer.birden@gmail.com> #}
{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}
{% extends "base-manager.html.twig" %}
{% form_theme form 'maketok-form_table_layout.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <form method="post" action="{{ current_url }}">
        {{ form_widget(form) }}
        <button type="submit">{% trans %}Log In{% endtrans %}</button>
    </form>
{% endblock %}
