{# This is a part of Maketok Site. Licensed under GPL 3.0 #}
{# @project site #}
{# @developer Oleg Kulik slayer.birden@gmail.com maketok.com #}
{% for link in links %}
    <li>
        <a href="{{ link.url }}" title="">{{ link.title }}</a>
        {% if link.children %}
            <ul>
                {% include "navigation.html.twig" with {'links': link.children} %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
