{# note: this is blog index #}
{% extends "base.html.twig" %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
    {% trans %}Oops! We couldn't find anything here. Try again.{% endtrans %}
{% endblock %}
{% block footer %}
<div class="footer-content">
    <span class="important">{% trans %}Hello World!{% endtrans %}</span>
</div>
{% endblock %}