{# This is a part of Maketok Site. Licensed under GPL 3.0 #}
{# @project site #}
{# @developer Oleg Kulik slayer.birden@gmail.com maketok.com #}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% trans %}%title%{% endtrans %}</title>
    {% block head %}
        {#<link rel="stylesheet" href="{{ css_url }}style.css">#}
        {#<script src="{{ js_url }}jquery-1.11.1.min.js"></script>#}
    {% endblock %}
</head>
<body>
    <div id="wrapper">
        <header>
            {% block search %}{% endblock %}
            {% block customer_area %}{% endblock %}
        </header>
        <nav>{% block menu %}{% endblock %}</nav>
        <section id="content">
            {% block content %}
                <h1>{% trans %}%title%{% endtrans %}</h1>
            {% endblock %}
        </section>
        <footer>
            {% block footer %}{% endblock %}
            {% trans %}&copy; 2014 <a href="http://maketok.com">maketok.com</a>.{% endtrans %}
        </footer>
        {% block before_body_end %}{% endblock %}
     </div>
</body>
</html>
