*, html {
    padding: 0;
    margin: 0;
}

body {
    font-family: "open sans", helvetica, arial, sans-serif;
    font-weight: 300;
    font-size: 62, 5%;
    color: #3a3a3a;
}

a {
    color: #7690AB;
}

a:hover {
    color: #264666;
}

a.general-link {
    text-decoration: none;
    background: #7690AB;
    color: #fff;
}

a:hover.general-link {
    text-decoration: none;
    background: #264666;
    color: #fff;
}

#wrapper {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

#content {
    text-align: left;
    font-size: 1.4em;
}

.info {
    font-size: 2em;
    margin: 10px 0 30px 0;
    background: #7690AB;
    color: #fff;
}

.hide {
    display: none;
}

td, th {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

table {
    width: 100%;
    margin: 10px 0 30px;
}

button.button, a.button {
    display: inline-block;
    margin: 2px 15px 2px 0;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    -moz-border-radius: 8;
    -webkit-box-shadow: 3px 3px 5px #666666;
    -moz-box-shadow: 3px 3px 5px #666666;
    box-shadow: 3px 3px 5px #666666;
    color: #fff;
    background: #7690AB;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    outline: 0;
}

button.button:hover, a.button:hover {
    background: #264666;
    text-decoration: none;
}

button.button.back, a.button.back {
    background: url(../images/arrow-back.png) no-repeat 0 0;
    color: #3a3a3a;
    padding: 10px 20px 10px 48px;
}

button.button.back:hover, a.button.back:hover {
    background-color: #eee;
}

.right {
    text-align: right;
}

nav {
    font-size: 1.2em;
    text-align: left;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    background: #a94442;
    color: #fff;
    padding:2px;
}

nav ul li a:hover {
    text-decoration: none;
    background: #ac2925;
    color: #fff;
}
